/* RESET BASE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    background: #050505;
    color: #f5f0e6;
    font-family: "Montserrat", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* SCHERMATA LOGIN */

.login-screen {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    text-align: center;
}


/* LOGO */

.logo {
    width: 480px;
    max-width: 95%;
    margin-bottom: 45px;
}


/* TITOLI */

h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}


.subtitle {
    color: #b08d57;
    font-size: 16px;
    margin-bottom: 45px;
}


/* INPUT */

label {
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
}


input {
    width: 100%;
    padding: 18px;
    border-radius: 8px;
    border: 1px solid #b08d57;
    background: transparent;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}


/* PULSANTE */

button {
    width: 100%;
    padding: 22px;
    border-radius: 8px;
    border: none;
    background: #b08d57;
    color: #050505;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}

#undoButton {

    margin-top: 25px;

    background: transparent;

    border: 1px solid rgba(245,240,230,0.3);

    color: #f5f0e6;

    font-size: 14px;

    padding: 14px;

}

.hidden {
    display: none;
}


/* =============================
   COUNTER PAGE
============================= */

.counter-screen {
    width: 100%;
    max-width: 600px;
    padding: 40px 25px;
    text-align: center;
}


.counter-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.counter-title h2 {
    margin: 0;
}


.counter-icon {

    width: 32px;
    height: 32px;

    border: 2px solid #b08d57;

    border-radius: 50%;

    display: flex;

    align-items: center;

    justify-content: center;

}


/* SPAZIO TOTALE */

.counter-card p {
    margin-top: 25px;
    font-size: 18px;
}

.counter-card p span {
    display: inline-block;
    margin-left: 8px;
    font-size: 32px;
    font-weight: 600;
}

/* CARD COUNTER */

.counter-card {

    background: (245,240,230,0.05);

    border: 1px solid rgba(245,240,230,0.15);

    border-radius: 20px;

    padding: 35px 25px;

    margin: 25px 0;

}

.counter-card button {

    width: 70%;

    padding: 18px;

    font-size: 24px;

    margin-top: 10px;

}
